@media screen and (max-width: 850px) {
  .contact-bottom {
    flex-direction: column; }
  .email-me div {
    margin-bottom: 30px; }
  .call-me div {
    margin-bottom: 40px; } }

@media screen and (min-width: 800px) {
  .contact-bottom {
    flex-direction: row; } }

.contact {
  background-color: #040f34;
  background-color: transparent; }

.contact-bottom {
  display: flex;
  width: 84%;
  margin: 0 auto;
  margin-bottom: 50px; }
  .contact-bottom .contact-first {
    flex: 0.6;
    padding: 20px 100px;
    border: 1px solid white; }
  .contact-bottom .add-contact {
    display: flex;
    flex-direction: column;
    flex: 0.4;
    justify-content: center;
    letter-spacing: 2px; }
    .contact-bottom .add-contact h1 {
      padding: 20px 0px 10px 0px;
      margin-bottom: 10px;
      margin-top: -40px;
      font-size: 60px;
      font-weight: 700;
      position: relative;
      font-family: Assistant;
      opacity: 0.5; }
    .contact-bottom .add-contact .call-me {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .contact-bottom .add-contact .call-me div {
        font-size: 15px;
        font-family: Assistant;
        letter-spacing: 3px; }
    .contact-bottom .add-contact .email-me {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .contact-bottom .add-contact .email-me div {
        font-size: 15px;
        font-family: Assistant;
        letter-spacing: 3px; }
    .contact-bottom .add-contact .social-media ul {
      width: 50%; }

form {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column; }
  form label {
    font-size: 1.5rem; }
  form input,
  form select,
  form textarea {
    width: 100%;
    padding: 2rem 1rem;
    margin-bottom: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: Assistant;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.61);
    border-bottom: 1px solid #9f9d9d;
    border-bottom: 1px solid rgba(114, 90, 21, 0.29);
    background: inherit; }
  form input[type="submit"] {
    width: initial;
    background-color: white;
    color: black;
    opacity: 0.4;
    padding: 1rem 2rem;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 650ms;
    margin-top: 17px; }
  form input[type="submit"]:hover {
    color: white;
    background-color: #4d4b55; }
  form ::placeholder {
    font-size: 16px;
    font-family: Assistant;
    letter-spacing: 1.2px;
    color: rgba(255, 255, 255, 0.61); }
  form textarea:focus,
  form input:focus {
    font-size: 16px;
    font-family: Assistant;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.9); }
  form textarea {
    min-height: 140px;
    max-height: 144px; }

.contact-heading {
  text-align: left;
  margin-bottom: 10rem;
  font-family: Playfair Display; }
  .contact-heading h1 {
    letter-spacing: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    margin-bottom: 1rem;
    text-shadow: -6px 0 rgba(147, 5, 5, 0.7), 0 2px 8px rgba(75, 16, 16, 0.7), 1px 0 rgba(181, 178, 178, 0.7), 0 -1px rgba(181, 178, 178, 0.7);
    text-shadow: -6px 0 rgba(244, 236, 236, 0.7), 0 2px 8px rgba(75, 16, 16, 0.7), 1px 0 rgba(181, 178, 178, 0.7), 0 -1px rgba(181, 178, 178, 0.7); }
  .contact-heading h1::before,
  .contact-heading h1::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(20, 18, 18, 0.75); }
  .contact-heading h6 {
    font-size: 1.6rem;
    font-weight: 300; }

.kelly {
  background: blue;
  display: flex; }
