// Contact Form

.contact {
    background-color: white;


    form {
        width: 70%;
        margin: 0 auto;
        margin-top: 30px;
    

        label {
            font-size: 1.5rem;
        }

        input,
        select,
        textarea {
            width: 100%;
            padding: 2rem 1rem;
            margin-bottom: 5px;
            border: none;
            outline-color: #f2e7ee;
            font-size: 20px;
        }

        input[type="submit"] {
            width: initial;
            background-color: #fd57bf;
            color: #eee;
            padding: 1rem 2rem;
            border-radius: 0.8rem;
            cursor: pointer;
            transition: background-color 650ms;
        }

        input[type="submit"]:hover {
            color: #221e3f;
            background-color: #ffe838;
        }

        ::placeholder {
            font-size: 16px;
            font-family: Assistant;
            letter-spacing: 1px;

        }

        input:focus {
            font-size: 16px;
            font-family: Assistant;
            letter-spacing: 1px;
            color: grey;
        }



    }
}