$primary-color: black;
$background: url("../images/colorful.jpg");
$clip: url("../images/clip-three.jpg");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #eee;
}

body {
    // background: $primary-color;
    width: 100%;
    height: 100%;
    background: $background no-repeat center fixed;
    background-size: cover;
    // background: rgb(238,174,202);
    // background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    // background: rgb(106,5,49);
    // background: radial-gradient(circle, rgba(106,5,49,1) 0%, rgba(6,38,75,1) 100%);

}

section {
    padding: 6rem 0;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 16px;
    font-weight: 300;
}

//  Reusable

.contain {
    width: 85%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.contain-port {
    width: 100%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}


.section-heading {
    text-align: left;
    margin-bottom: 10rem;
    font-family: Playfair Display;

    // background: blue;
    

    h1 {
        font-size: 60px;
        letter-spacing: 5px;
        color: white;
        opacity: 0.7;
        text-transform: uppercase;
        font-weight: 600;
        position: relative;
        margin-bottom: 1rem;
        // text-shadow: -2px 0 0px rgba(109, 18, 18, 0.7), 0 1px 0px rgba(75, 16, 16, 0.7), 1px 0 rgba(181, 178, 178, 0.7), 0 -1px rgba(181, 178, 178, 0.7);
        // text-shadow: -4px 0 3px rgba(75, 16, 16, 0.7), 0 2px 0px rgba(75, 16, 16, 0.7), 1px 0 rgba(181, 178, 178, 0.7), 0 -1px rgba(181, 178, 178, 0.7);
        // text-shadow: -4px 0 8px rgba(109, 18, 18, 0.7), 0 2px 0px rgba(75, 16, 16, 0.7), 1px 0 rgba(181, 178, 178, 0.7), 0 -1px rgba(181, 178, 178, 0.7);

        // background: $clip no-repeat right fixed;;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        // background-size: cover;

        color: rgba(255, 255, 255, 0.906);

        // color: black;

        text-shadow: -4px 0 rgba(75, 16, 16, 0.7), 0 2px 8px rgba(75, 16, 16, 0.7), 1px 0 rgba(181, 178, 178, 0.7), 0 -1px rgba(181, 178, 178, 0.7);
        
        // text-shadow: -4px 0 8px rgba(75, 16, 16, 0.7), 0 2px 0px rgba(75, 16, 16, 0.7), 1px 0 rgba(181, 178, 178, 0.7), 0 -1px rgba(181, 178, 178, 0.7);

        // opacity: 0.7;
        opacity: 0.3;
    }

    h1::before,
    h1::after {
        content: '';
        position: absolute;
        bottom: -.5rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(20, 18, 18, 0.75);
    }

    // h1::before {
    //     width: 10rem;
    //     height: 3px;
    //     border-radius: 0.8rem;
    // }

    // h1::after {
    //     width: 1.5rem;
    //     height: 1.5rem;
    //     border-radius: 100%;
    //     bottom: -1rem;
    // }

    h6 {
        font-size: 1.6rem;
        font-weight: 300;
    }
}

.has-margin-right {
    margin-right: 5rem;
}


// Timeline

.timeline ul {
    border-left: 4px solid #ffe838;
    border-radius: 0.8rem;
    background-color: rgba(0,0,0,0.5);
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 70%;

    h1 {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 1rem;
        opacity: 0.3;
    }

}

.timeline .date {
    border-bottom: 1px solid rgba(255, 255,255, 0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.timeline .date:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before,
.timeline .date::after {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before {
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
}

.timeline .date::after {
    content: '';
    box-shadow: 0 0 0 4px #fd57bf;
    border-radius: 100%;
    left: -6rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #313534;
}


// footer

.copyright {
    width: 100%;
    text-align: center;
    background-color: #16162d;
    padding: 2rem 0;
    position: relative;

    p {
        font-size: 1.4rem;
    }
}

.up {
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;

    i {
        color: #16162d;
        font-size: 2rem;
        margin: auto;
    }
}

// Animations

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(242, 233, 244, 0.99)
    }
    70% {
        box-shadow: 0 0 0 2rem rgba(242, 233, 244, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(242, 233, 244, 0);
    }
}


//  Media Queries

// on screens that are 900px or less
// min-width -- on screens that are more than 600px wide
@media screen and (max-width: 900px) {

    .nav-large {
        display: none;
    }

    body {
        width: 100%;
        height: 100%;
        background: $background no-repeat center fixed;
        background-size: cover;
    }

    .entry-text h1 {
        font-size: 15rem;
    
    }

    .entry-text h6 {
        font-size: 1.7rem;
    }

    .top-nav {
        width: 200px;
        height: 50vh;
        position: fixed;
        top: -50vh;
        right: 0;
        background-color: #16162d;
        transition: transform 600ms;
        transition-timing-function: cubic-bezier(1, 0, 0, 1);
    }


    .menu-nav {
        position: absolute;
        top: 5rem;
        right: 5rem;
        width: 3rem;
        height: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1500;
        transition: transform 650ms ease-out;
        // background: red;

        .bar {
            background: white;
            width: 100%;
            height: 3px;
            border-radius: 0.8rem;
        }

    }


    .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        list-style: none;
        width: 100%;
        height: 100%;

        li {
            margin: 2rem 0;

            .navigation-link {
                font-size: 12px;
                letter-spacing: 2.5px;
                color: white;
                font-weight: 400;
                font-family: Assistant;
                text-transform: uppercase;


                padding: 1rem;
            }

        }


        .navigation-link:hover,
        .navigation-link:focus {
            background: grey;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .nav-list-social {
        flex-direction: row;

        li {
            margin: 2rem 0;

        }
    }

    .about-heading h1 {
        font-size: 8rem;
    }

    .section-heading h1 {
        font-size: 3rem;
    }

    .about-details .nav-list-social {
        flex-direction: initial;
    }

    .about-details li {
        margin: 0 2rem;
    }

    .icon-container {
        width: 7rem;
        height: 7rem;

        i {
            font-size: 4rem;
        }
    }

    .timeline ul {
        margin: 0 0 0 auto;
    }

    .timeline .date::before {
        left: -20rem;
    }

    .timeline .date::after {
        left: -5.9rem;
    }

}


@media screen and (max-width: 600px) {

    .menu-nav {
        top: 2rem;
        right: 2rem;
    }

    .entry-text {

        h1 {
            font-size: 8rem;
        }

        h6 {
            font-size: 1.4rem;
        }
    }

    .navigation-link {
        font-size: 3.5rem;
    }

    .about .contain {
        flex-direction: column;

        .profile-image {
            margin: 0 0 7rem 0;
        }
    }

    .portfolio-item {
        flex-direction: column;

        .portfolio-img {
            flex-direction: column;
            margin: 0 0 2rem 0;
            order: 2;

            .ind-img {
                min-width: 290px;
            }
        }

        .portfolio-description {
            margin: 0;
            order: 1;
        }
    }

    .timeline p {
        font-size: 1.6rem;
    }

    .timeline .date::before {
        font-size: 1.4rem;
    }

    form {
        width: 100%;
    }

    .up {
        right: 2rem;
    }

}


// About Section
@import './about.scss';

// Top Header

@import './nav.scss';

// Skills Section

@import './skills.scss';

// Contact Section

@import './contact.scss';

// Portfolio Section

@import './portfolio.scss';


.nav {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: red;
    position: relative;

    .menu-toggle {
        font-size: 2rem;
        color: rgb(89, 89, 89);
        position: absolute;
        top: 50%;
        right: 2.5rem;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1500;
        font-weight: 300;
    }

    .fa-times {
        display: none;
    }

    .nav-lists {
        list-style: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        // background: beige;
        background: white;
        opacity: 0.97;
        padding: 4.4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // justify-content: space-around;
        z-index: 1000;
        transform: translateY(+100%);
        transition: transform 0.5s;

        li {
            // background: red;
            font-size: 22px;
            letter-spacing: 5px;
            font-family: Overpass;
            padding: 20px 0px;
            text-align: center;
            font-weight: 900;
            text-shadow: -1px 0 rgba(181, 178, 178, 0.7), 0 1px rgba(181, 178, 178, 0.7), 1px 0 rgba(181, 178, 178, 0.7), 0 -1px rgba(181, 178, 178, 0.7);
            // text-shadow: -0.7px 0 rgba(255, 255, 255, 0.543), 0 0.7px rgba(255, 255, 255, 0.687), 0.7px 0 rgba(255, 255, 255, 0.605), 0 -0.7px rgba(255, 255, 255, 0.557);


            a {
                color: white;

            }
        }
    }
}

.opens .fa-times {
    display: block;
}

.opens .fa-bars {
    display: none;
}

.opens .nav-lists {
    transform: translateY(0);
}
