
// Top Header

header {
    width: 100%;
    height: 100vh;
}

.top-nav {
    width: 200px;
    height: 50vh;
    position: fixed;
    top: -100vh;
    right: 0;
    background-color: #16162d;
    // border-bottom-right-radius: 100%;
    // border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
}

.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    
    li {
        margin: 1rem 2rem;
        color: black;
    }
    
    .navigation-link {
        font-family: Cabin;
        font-size: 15px;
        padding: 1rem;
    }

    .navigation-link:hover,
    .navigation-link:focus {
        background: grey;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


}

.top-nav.open {
    top: 0;
    border-radius: initial;
    z-index: 100;
}

.menu-nav {
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 3rem;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
    // background: red;

    .bar {
        background: white;
        width: 100%;
        height: 3px;
        border-radius: 0.8rem;
    }

}

// .open .bar.start {
//     transform: rotate(-450deg) translateX(0.8rem);
// }

// .open .bar.end {
//     transform: rotate(-450deg) translateX(-0.8rem);
// }

.menu-nav.open {
    transform: rotate(-180deg);
}

.entry-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;

    h1 {
        font-size: 15rem;
        // font-family: 'Amatic SC';
        font-family: 'Playfair Display';
        background: white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 1rem;
        user-select: none;
        font-weight: 400;
    }

    h6 {
        font-size: 2rem;
        font-weight: 300;
    }

    .nav-list-social {
        font-size: 19px;

        .fab:hover {
            color: #4267b2;
        }
    }

}



.nav-list-social {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    
    li {
        margin: 1rem 2rem;
        color: black;
    }


}

