
// Top Header

header {
    width: 100%;
    height: 100vh;
}


.top-nav.open {
    top: 0;
    border-radius: initial;
    z-index: 100;
    // transform: translateY(10rem);
    // transition: all 650ms cubic-bezier(1, 0, 0, 1);
    animation: second 1s ease-in;
}

@keyframes second {
    0%{
        transform: translate(-200px);
    }
    100% {
        transform: translateX(0px);
    }
}

.menu-nav.open {
    transform: rotate(-180deg);
}

.entry-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;

    h1 {
        font-size: 15rem;
        font-family: 'Playfair Display';
        // background: rgba(255, 255, 255, 0.256);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;

        color: rgba(255, 255, 255, 0.906);

        // color: black;

        text-shadow: -4px 0 rgba(75, 16, 16, 0.7), 0 2px 8px rgba(75, 16, 16, 0.7), 1px 0 rgba(181, 178, 178, 0.7), 0 -1px rgba(181, 178, 178, 0.7);
        text-shadow: -3.2px 0 rgba(75, 16, 16, 0.7), 0 2px 8px rgba(75, 16, 16, 0.7), 1px 0 rgba(181, 178, 178, 0.7), 0 -1px rgba(181, 178, 178, 0.7);
        
        // text-shadow: -4px 0 8px rgba(75, 16, 16, 0.7), 0 2px 0px rgba(75, 16, 16, 0.7), 1px 0 rgba(181, 178, 178, 0.7), 0 -1px rgba(181, 178, 178, 0.7);

        // opacity: 0.7;
        // opacity: 0.25;
        opacity: 0.4;
        padding: 1rem;
        user-select: none;
        font-weight: 900;
        letter-spacing: 6px;
        margin-bottom: 25px;

        // background: $clip no-repeat fixed;;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        // background-size: cover;
    }

    h1:hover {
        opacity: 0.4;
    }

    h6 {
        font-size: 15px;
        font-weight: 300;
        font-family: Assistant;
        padding-left: 20px;
        color: rgb(6, 10, 46);
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    .nav-list-social {
        font-size: 15px;

        .fab:hover {
            color: #4267b2;
        }
    }

}



.nav-list-social {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    
    li {
        margin: 10px 16px;
        color: rgba(106, 4, 4, 0.557);
    }


}


@media screen and (min-width: 900px) {

    .entry-text {
        // background: black;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 60px;

        h1 {
            font-size: 170px;
            
        }
    }


    .nav {
        display: none;
        top: -100px;
    }

    .nav-large {
        display: block;
        background: transparent;
        opacity: 0.9;
        position: absolute;
        top: 0;
        width: 100%;
        height: 80px;
        z-index: 100;

        display: flex;
        justify-content: flex-end;

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            // background: red;
            font-size: 11px;
            width: 50%;
            letter-spacing: 2.5px;
            color: white;
            font-weight: 400;
            font-family: Assistant;
            text-transform: uppercase;

            a {
                color: white;
            }
        }
    }

    .top-nav {
        width: initial;
        height: 10vh;
        position: absolute;
        top: 0vh;
        right: 0;
        background-color: transparent;
    }

    .menu-nav {
        display: hidden;
    }

    .nav-list {
        list-style: none;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        
        .navigation-link {
            font-size: 12px;
            letter-spacing: 2.5px;
            color: white;
            font-weight: 400;
            font-family: Assistant;
            text-transform: uppercase;
            margin: 0px 20px;
        }

        .navigation-link:hover,
        .navigation-link:focus {
            background: grey;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
