

// Portfolio 

@media screen and (min-width: 610px) {
    
    .portfolio-img {
        flex-direction: row;
    }
    
}


.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    background: blue;

    .portfolio-img {
        flex: 1;
        display: flex;
        justify-content: center;

        .ind-img {
            width: 26%;
            height: 25%;
            margin: 0px 20px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    
    }

    .portfolio-description {
        flex: 1;
        background: red;

        h1 {
            font-size: 3rem;
            font-weight: 300;
            margin: 1rem 0;
        }

        h6 {
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 300;
            opacity: 0.3;
        }
    }

    .portfolio-description .cta {
        display: inline-block;
        margin: 2.5rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: #3883ff;
        transition: color 650ms;
    }

    .portfolio-description .cta:hover {
        color: #2f67cd;
    }
}

.portfolio-item:last-child {
    margin-bottom: 0;
}

// .profile-image {
//     width: 50rem;
//     flex: 1;
// }