

.my-skills {
    margin-top: 10rem;
    max-width: 1200px;
    // background: red;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    // grid-gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    .skill {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.3rem;
        padding-bottom: 0rem;
        padding-top: 0rem;

        h1 {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 300;
            font-family: Assistant;
            font-size: 13px;
            margin: 2rem -2px 2rem 0;
            // background: red;
        }

        .icon-container {
            width: 16rem;
            height: 16rem;
            // border: 3px solid white;
            // background-color: rgb(186, 63, 63);
            background: rgba(255, 255, 255, 0.331);
            background: transparent;
            border: 1px solid white;
            box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.434);
            margin-bottom: 0.6rem;
            margin: 10px;
            display: flex;
            flex-direction: column;
            border-radius: 2px;
            // transform: rotate(-45deg);

            i {
                color: white;
                font-size: 5rem;
                margin: auto;
                // background: red;
                // transform: rotate(-45deg);
            }

        }
    }
}